.contain {
  margin: 0px;
  padding: 0px;
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(77, 83, 145);
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  overflow: hidden;
}
.left {
  margin-left: 18px;
  padding: auto;
}
.left a {
  text-decoration: none;
  color: rgb(248, 233, 236);
  font-size: 24px;
  font-weight: 900;
}
.left a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}
.right {
  margin-right: 14px;
}
.right a {
  padding: 7px;
  margin: 5px;
  text-decoration: none;
  color: rgb(250, 217, 224);
  font-size: 18px;
  border-radius: 12px;
  padding-inline: 10px;
}
.right a:hover {
  color: white;
  background-color: rgb(37, 53, 197);
  transition: all 0.3s ease;
}
